<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.10.4</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>https://archive.apache.org/dist/subversion/subversion-1.10.4.tar.bz2</string>
	<key>OpenSourceSHA256</key>
	<string>8262eeabec8059736476f5fdda8682786939cead9da263b839345a3170db81a1</string>
	<key>OpenSourceImportDate</key>
	<string>2019-04-24</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
