# Configuration file for HeaderDoc
# $Revision: 1.26 $
###########################################################
copyrightOwner =>
classAsComposite => 1
# appleTOC => 3
suppressDefaultStyles => 0
suppressDefaultJavaScript => 0

TOCFormat => default
addTopLink => 0

defaultFrameName => index.html
masterTOCName => masterTOC.html
apiUIDPrefix => apple_ref
ignorePrefixes =>
htmlHeader => 
# htmlHeaderFile => adcheader.html
# htmlFooterFile => adcfooter.html
htmlFooterFile => newfooter.html
# useBreadcrumbs => 1
stripDotH => 1
TOCTemplateFile => toctemplate.html functions.tmpl constants.tmpl datatypes.tmpl mpindex.tmpl
dateFormat => %F
TOCTemplateEncoding => UTF-8
# tocTemplateEncoding => iso-8859-1
styleSheetExtrasFile => stylesheet_adds

# Next line is for a normal build.
# externalStyleSheets => /Resources/CSS/frameset_styles.css

# Next line is for the new TOC.
externalStyleSheets => /CSS/frameset_styles.css /Resources/CSS/devpubs.css /Resources/CSS/docHeader.css /Resources/CSS/docs.css

# Next line is for testing the custom reference experiment
# externalStyleSheets => /CSS/frameset_styles.css /Resources/CSS/devpubs.css /Resources/CSS/docHeader.css /Resources/CSS/docs.css /Resources/CSS/customReference.css

# styleImports => @import "/Resources/CSS/frameset_styles.css";
# tocStyleImports => @import "/Resources/CSS/frameset_styles.css";
# tocStyleImports => @import "/Resources/CSS/adcstyle.css";
textStyle =>
commentStyle => background:#ffffff; color:#236e25
preprocessorStyle => background:#ffffff; color:#236e25
funcNameStyle => background:#ffffff; color:#000000;
stringStyle => background: #ffffff; color:#891315;
charStyle => background: #ffffff; color:#0000ff;
numberStyle => background: #ffffff; color:#0000ff;
keywordStyle => background:#ffffff; color:#761550;
typeStyle => background:#ffffff; color:#761550;
paramStyle => background:#ffffff; color:#000000;
varStyle => background:#ffffff; color:#000000;
templateStyle => background:#ffffff; color:#761550;
# addToCustomReferenceStyle => margin-top: -5px; margin-bottom: -5px; padding-top: 0px; font-size: 8px; color: #303030;
# addToCustomReferenceLinkStyle => font-size: 10px; color: #303030;
groupHierLimit => 100
groupHierSubgroupLimit => 30
introductionName => Overview
superclassName => Inherits from
idlLanguage => js
